<HTML>

  <HEAD>
    <link rel="stylesheet" type="text/css" href="{{ static_url }}css/main.css">
    <TITLE>Evently</TITLE>
  </HEAD>

  <BODY class="evently">
    <div id="mainContainer" class="eventlyMainContainer">
      <table class="pageTopHeader">
        <tr>
          <td class="logo"><img src="{{ static_url }}images/logo.gif"></td>
          <td class="navigationBar">
            <div class="navActions"> PH:Navigation bar </div>
          </td>
        </tr>
      </table>
      <table class="pageContent">
        <tr>
          <td class="mainColumn">
            <div id="profileInfo">
              PH:Profile
            </div>
            <div id="invitations"> PH:Invitations </div>
            <div id="userCalendar" class="userCalendar">
              <div class="calendarHeader">
                <span class="monthName">{{ mname }} {{ year }}</span>
                <span class="monthNavLinks">
                  <a href="{% url core.views.preview_calendar year month "prev" %}">&lt;&lt; Prev</a>&nbsp;
                  <a href= "{% url core.views.preview_calendar year month "next" %}">Next &gt;&gt;</a>
                </span>
              </div>
              <div class="month">
                <table class="calMonthView">
                  <tr>
                    <td>Mon</td>
                    <td>Tue</td>
                    <td>Wed</td>
                    <td>Thu</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                  </tr>
                  {% for week in month_days %}
                    <tr>
                      {% for day, entries, current in week %}
                        <td class= {% if day == 0 %}"empty"{% endif %}
                          {% if day != 0 and not current %}"day"{% endif %}
                          {% if day != 0 and current %}"current"{% endif %}
                          {% if day != 0 %}
                          onClick="parent.location='{% url core.views.preview_calendar_day year month day %}'"
                          {% endif %} >

                          <!-- Day number and entry snippets -->
                          {% if day != 0 %}
                            {{ day }}
                            {% for entry in entries %}
                              <br />
                              <b>{{ entry.eventID }}</b>:
                               {{ entry.description|safe }}
                            {% endfor %}
                          {% endif %}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </td>
          <td class="rightColumn">
            Recommendations
          </td>
        </tr>
      </table>
      <table class="pageFooter">
        <tr>
          <td class="footerContent">
            Copyright 2011-present Evently. All Rights Reserved.
          </td>
        </tr>
      </table>
    </div>
  </BODY>

</HTML>
