
body {
  background: url('images/headerbg.gif') repeat-x;
  color: #5c5c5c;
  text-align: center;
  font-size: 11pt;
}

.evently .eventlyMainContainer {
  position: absolute;
  left: -480px;
  margin-left: 50%;
  padding: 0 10px;
  text-align: left;
  top: 0;
  width: 960px;
}

.evently  .pageTopHeader,
.evently .pageContent,
.evently .pageFooter {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

.evently  .pageTopHeader {
  background: url('images/headerbg.gif') repeat-x;
  height: 50px;
  margin-top: 0;
}

.pageTopHeader .logo {
  width: 178px;
}

.pageTopHeader .logo img {
  margin: 8px 6px 0 6px;
}

.pageTopHeader .navigationBar {
  height: 100%;
  width: auto;
}

.pageTopHeader .navigationBar .navActions {
  background-color: #ebebeb;
  margin: 24px 0 0 10px;
  padding: 5px 0 0 10px;
}

.evently .pageContent .mainColumn,
.evently .pageContent .rightColumn {
  border: #cccccc solid 1px;
  width: 700px;
  padding: 0 10px 10px 10px;
}

.evently .pageContent .mainColumn div {
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

.evently .pageContent .rightColumn {
  width: 220px;
}

.evently .pageFooter  .footerContent {
  border-top: #5c5c5c solid 1px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}