<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"> 
<html> 
<head><title>Ding Zhou : Homepage</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> 
  <meta content="Ding Zhou's Homepage" name="description"> 
  <meta name="keywords" content="Ding Zhou, Facebook, Homepage, Penn State, PSU, social network, research"> 
  <meta name="author" content="Ding Zhou"> 
  <link rel="Shortcut Icon" href="images/ding_logo.png"> 
  <style type="text/css"> 
  <!--
  body {font-family: Verdana, Arial, Sans-serif}
  table {font-size: 10pt}
  -->
  </style> 
</head> 
<body style="COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(255,255,255)" alink="#993300" link="#222299" vlink="#993300"> 
<table style="VERTICAL-ALIGN: top; WIDTH: 600px; TEXT-ALIGN: left" border="0" cellpadding="5" cellspacing="5"> 
  <tbody> 
  <!-- Address Info Section --> 
  <tr> 
  <td style="VERTICAL-ALIGN: top"> 
    <font style="FONT-WEIGHT: bold; COLOR: rgb(51,51,153)" size  ="+2"> 
    <span style="COLOR: rgb(51,51,153)">Ding Zhou, Ph.D.</span><br></font><br> 
        Research Scientist,<br> 
    Facebook Inc.<br> 
    1601 S California Ave,<br> 
    Palo Alto, CA 94301<br><br> 
        <img align=left alt="" src="rsc/email.png"> 
  </td> 
  </tr> 
 
  <!-- About Section --> 
  <tr> 
    <td style="VERTICAL-ALIGN: top" colspan="2"> 
    <hr style="WIDTH: 100%; HEIGHT: 2px"> 
    <font style="COLOR: rgb(51,51,153)" > 
    <span style="FONT-WEIGHT: bold">About</span> 
    </font><br> 
    I received my B.S. from
    <a href="http://www.fudan.edu.cn/">Fudan University</a> (2004)
    and Ph.D. from
    <a href="http://www.psu.edu/">The Pennsylvania State University</a> (2007), both in
    Computer Science.
    My dissertation was on machine learning and data mining of social documents and heterogeneous social networks, co-advised by
    <a href="http://clgiles.ist.psu.edu/">Prof. C. Lee Giles</a> and
    <a href="http://www.cc.gatech.edu/~zha/">Prof. Hongyuan Zha</a>.
    <br><br> 
 
 
  <!-- Links Section --> 
    <font style="COLOR: rgb(51,51,153)"> 
    <span style="FONT-WEIGHT: bold">Links</span> 
    </font><br> 
    <a href="pubs.htm">My publications</a>&nbsp;
    <a href="papers/cv.pdf">My CV</a>&nbsp;
    <a href="blog/">My Blog</a>&nbsp;
    <br><br> 
 
 
  <!-- Facebook Section --> 
    <font style="COLOR: rgb(51,51,153)"> 
    <span style="FONT-WEIGHT: bold">Work at Facebook?</span> 
    </font><br> 
    People often ask me what it is like to work at Facebook. Find it out for yourself on our <a href="http://www.facebook.com/careers/">Facebook careers page</a> . Consider yourself a good engineer? <a href="mailto:dr.dingzhou@gmail.com">Drop me a note</a>. :-)
    </td> 
  </tr> 
 
 
  <!-- Footnote Section --> 
  <tr> 
    <td style="VERTICAL-ALIGN: top" colspan="2"> 
    <hr style="WIDTH: 100%; HEIGHT: 2px"> 
    <table style="WIDTH: 100%; TEXT-ALIGN: left" border="0" cellpadding="2" cellspacing="2"> 
    <tbody><tr><td style="WIDTH: 80%"> 
    <font size="-20"> 
    Last updated
    <script language="JavaScript" type="">document.write(document.lastModified)</script><br> 
    Copyright 2004-2009 Maintained by
    <a href="http://dzhou.net/">Ding Zhou</a> 
    <br> 
    </font></td></tr> 
    </tbody> 
</table> 
</body></html>  
