<HTML>

  <HEAD>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <TITLE>Evently</TITLE>
  </HEAD>

  <BODY class="evently">
    <div id="mainContainer" class="eventlyMainContainer">
      <table class="pageTopHeader">
        <tr>
          <td class="logo"><img src="{{ STATIC_URL }}img/logo.gif"></td>
          <td class="navigationBar">
            <div class="navActions"> PH:Navigation bar </div>
          </td>
        </tr>
      </table>
      <table class="pageContent">
        <tr>
          <td class="mainColumn">
            <div id="profileInfo"> PH:Profile </div>
            <div id="invitations"> PH:Invitations </div>
            <div id="userCalendar"> PH:Calendar </div>
          </td>
          <td class="rightColumn">
            Recommendations
          </td>
        </tr>
      </table>
      <table class="pageFooter">
        <tr>
          <td class="footerContent">
            Copyright 2011-present Evently. All Rights Reserved.
          </td>
        </tr>
      </table>
    </div>
  </BODY>

</HTML>
